<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/resetBootstrap.css'/>
    <link rel='stylesheet' href='/plugins/nprogress/nprogress.css'/>
    <link rel="stylesheet" href="/plugins/Remodal-1.0.7/dist/remodal.css">
    <link rel="stylesheet" href="/plugins/Remodal-1.0.7/dist/remodal-default-theme.css">

    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="/plugins/nprogress/nprogress.js"></script>
    <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->

</head>

<body>

<div class="main">
    <nav class="cell">
        <div class="logo"><span>&nbsp;</span> <span> APAROKSHA@iiita </span></div>

        <% if (!loggedIn) { %>
            <div id="nav-login-btn" class="nav-button nav-login"><span><a href="/login" style="color: black">Sign In</a></span></div>
        <% } else { %>
            <div id="nav-profile-btn" class="nav-button nav-login"><span><%=userName%></span></div>
        <% } %>

        <div id="nav1" class="nav-button nav-selected">
            <div class="icon icon1"></div>
            <span>HOME</span></div>
        <div id="nav2" class="nav-button">
            <div class="icon icon2"></div>
            <span>PROBLEM</span></div>
        <div id="nav3" class="nav-button">
            <div class="icon icon2"></div>
            <span>SUBMISSIONS</span></div>
        <div id="nav4" class="nav-button">
            <div class="icon icon3"></div>
            <span>LEADERBOARD</span></div>
        <div id="nav5" class="nav-button">
            <div class="icon icon4"></div>
            <span>FORUM</span></div>
    </nav>

    <div class="container">
    </div>
</div>

<!--<div class="row">-->
<!--<div class="col-lg-6">.col-sm-6</div>-->
<!--<div class="col-lg-6">.col-sm-6</div>-->
<!--</div>-->
    <% if (loggedIn) { %>
        <div class="profile-dialog" data-remodal-id="profile"
             data-remodal-options="hashTracking: false, closeOnOutsideClick: true">

            <button data-remodal-action="close" class="remodal-close"></button>
            <h1>Profile</h1>
            <p>
                Update your details&nbsp;&nbsp;&nbsp;&nbsp; <a href="/logout" style="cursor: pointer">Logout</a>
            </p>

            <p id="error" style="color: red">
            </p>

            <input id="name" type="text" value="<%=doc.name%>" class="style-1" placeholder="Name" readonly>
            <input id="email" type="text" value="<%=doc.email%>" class="style-1" placeholder="Email" readonly>
            <input id="college" type="text" value="<%=doc.college%>" class="style-1" placeholder="College" required>
            <input id="year" type="text" value="<%=doc.year%>" class="style-1" placeholder="Year" required>
            <input id="contact" type="text" value="<%=doc.contact%>" class="style-1" placeholder="Contact" required>

            <br>
            <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
            <button data-remodal-action="confirm" class="remodal-confirm">Update</button>
        </div>
    <% } %>

<!--<div class="register-dialog" data-remodal-id="register"-->
     <!--data-remodal-options="hashTracking: false, closeOnOutsideClick: false">-->

    <!--<button data-remodal-action="close" class="remodal-close"></button>-->
    <!--<h1>Register</h1>-->
    <!--<p>-->
        <!--Create new Account-->
    <!--</p>-->
    <!--<p id="register-error" style="color: red">-->
    <!--</p>-->

    <!--<input id="register-userName" type="text" class="style-1" placeholder="UserName">-->
    <!--<input id="register-password" type="password" class="style-1" placeholder="Password">-->
    <!--<input id="register-name" type="text" class="style-1" placeholder="Full Name">-->
    <!--<input id="register-email" type="text" class="style-1" placeholder="College Email">-->
    <!--<input id="register-college" type="text" class="style-1" placeholder="College">-->
    <!--<input id="register-year" type="text" class="style-1" placeholder="Year">-->
    <!--<input id="register-contact" type="text" class="style-1" placeholder="contact">-->

    <!--<br>-->
    <!--<button data-remodal-action="cancel" class="remodal-cancel">Login</button>-->
    <!--<button data-remodal-action="confirm" class="remodal-confirm">Register</button>-->
<!--</div>-->

<div id="ohsnap"></div>

<script src="/plugins/Remodal-1.0.7/dist/remodal.min.js"></script>
<script src="/plugins/ohsnap.js"></script>
<script src="/scripts/script.js"></script>


</body>
</html>
